body {
    background-color: #F8F8F8;
    overflow-x: hidden;
    font-family: sans-serif;
}

#welcome-message {
    text-align: center;
    color: #334D6E;
}

#project-name {
    text-align: center;
    color: rgb(255, 255, 255);
}

#main-page-container {
    display: grid;
    grid-template-columns: repeat(6, 3fr);
}

.task-container {
    min-height: 800px;
    grid-column: auto / span 2;
    margin: 0 5px 0 5px;
    font-size: 17px;
}

.container-names {
    text-align: center;
    color: #334D6E;
    font-size: 30px;
}

#project-name-errormessage {
    color: red;
    font-style: italic;
}

#task-errormessage {
    color: red;
    font-style: italic;
}

ul {
    list-style: none;
    min-height: 800px;
}

.task-desc {
    display: none;
    text-align: center;
    word-wrap: break-word;
}

.task-point {
    text-align: center;
    margin: 0;
}

#input-task-name {
    font-size: 17px;
}

#input-task-desc {
    height: 100px;
    text-align: left;
    font-size: 17px;
    font-family: sans-serif;
}

.-button {
    float: right;
    font-size: 20px;
    margin: 0px 15px 0px 0px;
}

.delete-task-button {
    position: relative;
    color: #334D6E;
    font-size: 20px;
    left: 370px;
    top: -60px;
}

.delete-task-button:hover {
    cursor: pointer;
    color: red;
}

p.edit-button {
    position: relative;
    color: #334D6E;
    font-size: 20px;
    left: 370px;
    top: -70px;
}

.edit-button:hover {
    cursor: pointer;
}

h3.task-text {
    position: relative;
    left: -150px;
}

.done-task {
    background-color: #FFFFFF;
    text-align: center;
    border: 1.2px solid green;
    width: 400px;
    color: #334D6E;
    margin: 20px 0px 20px 0px;
}

.task-cards {
    background-color: #FFFFFF;
    border: 1.2px solid rgb(223, 236, 239);
    height: auto;
    width: 400px;
    min-height: 10px;
    margin: 20px 0px 20px 0px;
    text-align: center;
    color: #334D6E;
}

#task-modal:focus {
    outline: none;
}

#task-modal {
    background-color: #FFFFFF;
    width: 590px;
    font-size: 17px;
    display: block;
    border: 1.2px solid rgb(223, 236, 239);
    margin: 20px 0px 20px 0px;
    outline: none;
}

*:focus {
    outline: none;
}

#open-task-modal-button {
    border-radius: 100%;
    position: absolute;
    height: 40px;
    width: 40px;
    font-size: 30px;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #f8f8f8;
    left: 70px;
    top: 8px;
}

#open-task-modal-button:hover {
    cursor: pointer;
}

.buttonicon {
    position: absolute;
    top: 0;
    padding: 15px;
}

.buttonicon:hover {
    cursor: pointer;
    transform: rotate(90deg);
    transition: 1.5s;
}

.buttonicon div {
    background-color: #334D6E;
    border-radius: 5px;
    height: 6px;
    width: 30px;
    margin: 3px 0;
}

nav {
    background-color: #FFFFFF;
    display: inline-block;
    position: absolute;
    top: 0;
    height: 100%;
    width: 250px;
    left: -250px;
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    box-shadow: 2px 0px 5px rgb(223, 236, 239);
}

nav .logo img {
    border-radius: 50%;
    box-sizing: border-box;
}

nav .logo {
    margin: 10px 0;
    text-align: center;
    height: 200px;
}

nav a {
    display: block;
    font-size: 20px;
    text-decoration: none;
    color: #334D6E;
    padding: 10px 30px;
}

nav a:hover {
    color: #109CF1;
}

nav,
.buttonicon {
    -webkit-transition: -webkit-transform .4s;
    transition: transform .4s;
}

.sidenav-active nav,
.sidenav-active .buttonicon {
    -webkit-transform: translateX(250px);
    -ms-transform: translateX(250px);
    transform: translateX(250px);
    z-index: 99;
}

#hearder-newCard {
    font-size: 17px;
    background-color: #FFFFFF;
    color: #334D6E;
}

.logo-wrap {
    text-align: center
}

.ui-dialog-titlebar.ui-corner-all.ui-widget-header.ui-helper-clearfix.ui-draggable-handle {
    width: 20px;
    height: 20px;
    position: relative;
    left: 250px;
    bottom: -240px;
}
