/*Just some CSS to show that we can link it*/

body {
    background-color: #c2cfe0;
    overflow-x: hidden;
}

#welcome-message {
    text-align: center;
    color: black;
}

#project-name {
    text-align: center;
    color: rgb(255, 255, 255);
}

.task-container {
    min-height: 100px;
}

#project-name-errormessage {
    color: red;
    font-style: italic;
}

#task-errormessage {
    color: red;
    font-style: italic;
}

ul {
    list-style: none;
    padding: 0;
    min-height: 800px;
}

.task-desc {
    display: none;
    text-align: center;
    word-wrap: break-word;
}

.task-point {
    text-align: center;
    margin: 0;
}

#input-task-desc {
    height: 100px;
    text-align: left;
}

.delete-task-button {
    float: right;
    font-size: 20px;
    margin: 0px 15px 0px 0px;
}

.delete-task-button:hover {
    cursor: pointer;
}

.done-task {
    background-color: #31D843;
}

.task-cards {
    background-color: rgb(255, 255, 255);
    border-style: solid;
}

#task-modal {
    background-color: #f0f0f0;
    height: 20%;
    width: 50px;
    border-radius: 2px;
}

.buttonicon{
    position: absolute;
    top:0;
    padding: 15px;
}

.buttonicon:hover{
    cursor: pointer;
}

.buttonicon div{
    background-color:#334D6E;
    border-radius: 5px;
    height: 6px;
    width: 30px;
    margin: 3px 0;
}

nav{
    background-color:#C2CFE0;
    display: inline-block;
    position: absolute;
    top:0;
    height: 100%;
    width: 225px;
    left: -225px;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    box-shadow: 1px 10px 30px rgb(123, 149, 153);
}

nav .logo img{
border-radius: 50%;
box-sizing: border-box;
}

nav .logo{
    margin: 10px 0;
    text-align: center;
}

nav a{
    display: block;
    text-decoration: none;
    text-align: center;
    color: #334D6E;
    padding: 5px 0;
}

nav a:hover{
    color: rgb(17, 104, 131);
}

nav, .buttonicon{
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
}

.sidenav-active nav, .sidenav-active .buttonicon{
      -webkit-transform: translateX(225px);
      -ms-transform: translateX(225px);
      transform: translateX(225px);
    }


